<div class="message-section">
      {{#if success_messages}}
    <div class="alert-primary" role="alert">
        {{success_messages}}
    </div>
    {{/if}}
    {{#if error_messages}}
    <div class="alert-danger" role="alert">
        {{error_messages}}
    </div>
    {{/if}}
</div>
<div class="form-section">
    <form action="/signin" method="POST">
       <div class="form-group">
        <input type="email" #email name="email" placeholder="Email">
       </div>
       <div class="form-group">
           <input type="password" #password name="password" placeholder="Password">
       </div>
       <div class="form-group text-center">
           <button class="primary" type="submit">Signup</button>
       </div>
    </form>
</div>