<div class="message-section">
    {{#if success_messages}}
    <div class="alert-primary" role="alert">
        {{success_messages}}
    </div>
    {{/if}}
    {{#if message}}
    <div class="alert-danger" role="alert">
        {{message}}
    </div>
    {{/if}}
</div>
<div class="form-section">
    <form action="/signup" method="POST">
       <div class="form-group">
        <input type="email" #email name="email" class="form-control" placeholder="Email">
       </div>
       <div class="form-group">
           <input type="password" #password name="password" class="form-control" placeholder="Password">
       </div>
       <div class="form-group text-center">
           <button class="btn btn-primary" type="submit">Signup</button>
       </div>
    </form>
</div>